.Home{
    width: 100%;
    position: relative;
    background-image: url("../../Images/home1.jpg");
    background-size: cover;
    padding: 3% 0;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.385);
    }
    .Quote{
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       
        h1{
            text-align: center;
            width: 50%;
            font-weight: 400;
            font-size: 3rem;
            color:rgb(255, 255, 255);
            border: 0.3em solid darkblue;
            padding: 0.2em 1em;
            span{
                font-style: italic;
                font-size: 3rem;
                color: black;
                font-weight: 300;
            }
        }
    }
}

.HomeButton{
    display: flex;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button{
        font-size: 3rem;
        border: 0;
        margin: 0 1%;
        padding: 0.1em 1em;
        color: black;
        background-color: transparent;
        border: 0.1em solid darkblue;
        transition: 0.3s;
        &:hover{
            transition: 0.3s;
            background-color: darkblue;
            color: aliceblue;
            cursor: pointer;
        }
    }
    p{
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 1%;
    }
}

@media (max-width:768px) {
    .Home{
        .Quote{
            width: 100%;
            h1{
                width: 70%;
            }
        }
    }
}

@media (max-width:426px) {
    .Home{
        .Quote{
            width: 90%;
            margin: auto;
            h1{
                width: 90%;
            }
            span{
                margin-left: 0.6em;
            }
        }
    }
    .HomeButton{
        p{
            text-align: center;
        }
    }
}